---
import "@fontsource/roboto/400.css";
import "@fontsource/roboto/700.css";
import "@fontsource/roboto/900.css";
import { Image } from "astro:assets";
import MainIcon from "../images/main_icon.png";
import GithubIcon from "../images/github_icon.svg";
import XIcon from "../images/x_icon.svg";
import ZennIcon from "../images/zenn_icon.svg";
import AtCoderIcon from "../images/atcoder_icon.png";
---

<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>aphananhe42.net</title>
	</head>
	<body class="w-screen h-screen bg-slate-950">
		<Image
			class="w-1/3 2xl:w-1/5 aspect-square mx-auto mt-20 rounded-full"
			src={MainIcon}
			alt="aphananthe42のアイコン"
		/>
		<h1
			class="text-white text-3xl 2xl:text-9xl text-center font-roboto font-bold pt-9"
		>
			aphananthe42
		</h1>
		<div class="flex justify-center gap-6 mt-6">
			<a
				href="https://github.com/aphananthe42"
				target="_blank"
				class="inline-block"
			>
				<Image
					class="w-9 2xl:w-16 aspect-square"
					src={GithubIcon}
					alt="GitHubのアイコン"
				/>
			</a>
			<a
				href="https://x.com/aphananthe42"
				target="_blank"
				class="inline-block"
			>
				<Image
					class="w-9 2xl:w-16 aspect-square"
					src={XIcon}
					alt="Xのアイコン"
				/>
			</a>
			<a
				href="https://zenn.dev/aphananthe42"
				target="_blank"
				class="inline-block"
			>
				<Image
					class="w-9 2xl:w-16 aspect-square"
					src={ZennIcon}
					alt="Zennのアイコン"
				/>
			</a>
			<a
				href="https://atcoder.jp/users/aphananthe42"
				target="_blank"
				class="inline-block"
			>
				<Image
					class="w-9 2xl:w-16 aspect-square"
					src={AtCoderIcon}
					alt="AtCoderのアイコン"
				/>
			</a>
		</div>
		<div class="flex justify-center gap-3 mt-8">
			<button
				class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-white text-base font-medium font-roboto rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800"
			>
				<span
					class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0"
				>
					Tech Blog
				</span>
			</button>
			<button
				class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-white text-base font-medium font-roboto rounded-lg group bg-gradient-to-br from-purple-500 to-pink-500 group-hover:from-purple-500 group-hover:to-pink-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-purple-200 dark:focus:ring-purple-800"
			>
				<span
					class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0"
				>
					Diary
				</span>
			</button>
		</div>
		<div class="w-3/4 mx-auto mt-10">
			<p class="text-white text-xl font-roboto font-black">About Me</p>
			<div class="border border-green-500 rounded-md p-4 mt-4">
				<div class="text-white text-md font-roboto leading-relaxed">
					$ whois aphananthe42 <br />
					<br />
					Name: aphananthe42 <br />
					Created: 1994-12-04 <br />
					Address: Kanagawa, Japan <br />
					Job: Freelance iOS Engineer <br />
					ETH Address: ... <br />
					PGP Key: ... <br />
					Favorite Food: miso soup, salad, dried persimmon <br />
				</div>
			</div>
			<div class="border border-green-500 rounded-md p-4 mt-4">
				<div class="text-white text-md font-roboto leading-relaxed">
					$ ls skills/ <br />
					<br />
					<ul class="list-disc ml-4">
						<li>iOS Experience 5+ years</li>
						<li>AWS Certified Cloud Practitioner</li>
						<li>AWS Certified Developer</li>
						<li>AWS Certified SysOps Administrator</li>
						<li>TOEIC 860</li>
					</ul>
				</div>
			</div>
			<div class="border border-green-500 rounded-md p-4 mt-4">
				<div class="text-white text-md font-roboto leading-relaxed">
					$ history <br />
					<br />
					<ul class="list-decimal ml-4">
						<li>Software house (~2022) <br /> as iOS Engineer</li>
						<li>
							Axia Works LLC (~2023) <br /> as iOS Engineer and Executive
							Officer
						</li>
						<li>Freelance iOS Engineer (current)</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="w-3/4 mx-auto mt-10 text-white">
			<p class="text-xl font-roboto font-black">Works</p>
			<ul class="list-disc ml-4">
				<li>
					<a href="https://aphananthe42.net" target="_blank">
						<p
							class="text-lg text-blue-600 mt-4 font-roboto font-bold"
						>
							aphananthe42.net
						</p>
					</a>
				</li>
			</ul>
			<p class="text-md mt-1 ml-4 font-roboto italic">
				That's this. <br />
				aphananthe42.net is my personal website.
			</p>
			<ul class="list-disc ml-4">
				<li>
					<a href="https://google.com" target="_blank">
						<p
							class="text-lg text-blue-600 mt-4 font-roboto font-bold"
						>
							AIFrame
						</p>
					</a>
				</li>
			</ul>
			<p class="text-md mt-1 ml-4 font-roboto italic">
				Under development...
			</p>
		</div>
		<div class="w-3/4 mx-auto mt-10 text-white">
			<p class="text-xl font-roboto font-black">Contact</p>
		</div>
	</body>
</html>
