---
interface Props {
    routing: string;
    title: string;
    startColor: string;
    endColor: string;
}

const { routing, title, startColor, endColor } = Astro.props;
---

<a href={routing}>
    <button
        class={`relative w-[120px] lg:w-[240px] inline-flex items-center justify-center p-0.5 overflow-hidden text-white text-base lg:text-2xl font-normal font-roboto rounded-lg group bg-gradient-to-br ${startColor} ${endColor} group-hover:${startColor} group-hover:${endColor}`}
    >
        <span
            class="relative w-[120px] lg:w-[240px] px-5 py-2.5 transition-all ease-in duration-75 bg-gray-900 rounded-md group-hover:bg-opacity-0"
        >
            {title}
        </span>
    </button>
</a>
