---
interface Props {
    title: string;
    startColor: string;
    endColor: string;
    focusColor: string;
    darkColor: string;
}

const { title, startColor, endColor, focusColor, darkColor } = Astro.props;
---

<button
    class={`relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-white text-base font-normal font-roboto rounded-lg group bg-gradient-to-br ${startColor} ${endColor} group-hover:${startColor} group-hover:${endColor} hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:${focusColor} dark:focus:${darkColor}`}
>
    <span
        class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0"
    >
        {title}
    </span>
</button>
