---
import "@fontsource/roboto/400.css";
import "@fontsource/roboto/700.css";
import "@fontsource/roboto/900.css";
import "@fontsource/noto-sans-jp/400.css";
import "@fontsource/noto-sans-jp/700.css";
import "@fontsource/noto-sans-jp/900.css";

const canonicalURL = new URL(Astro.url.pathname, "https://aphananthe42.net");
const ogpImageURL = new URL("/ogp.png", canonicalURL);
const websiteTitle = "aphananthe42.net";
---

<html lang="ja">
    <head prefix="og: https://ogp.me/ns#">
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <link rel="icon" type="image/png" href="/favicon.png" />
        <title>{websiteTitle}</title>

        <meta property="og:url" content={canonicalURL} />
        <meta property="og:type" content="website" />
        <meta property="og:title" content={websiteTitle} />
        <meta
            property="og:description"
            content="aphananthe42's personal website"
        />
        <meta property="og:site_name" content={websiteTitle} />
        <meta property="og:image" content={ogpImageURL} />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:site" content="@aphananthe42" />
    </head>
    <body class="w-screen min-h-screen flex flex-col bg-slate-950">
        <header>
            <div class="p-3">
                <a href="/" class="text-white font-roboto font-bold">
                    aphananthe42.net
                </a>
            </div>
        </header>
        <main class="flex-grow">
            <slot />
        </main>
        <footer class="h-14 mt-10 lg:mt-20 mb-0">
            <hr />
            <p
                class="text-white text-sm lg:text-lg text-center font-roboto font-normal p-6 lg:p-16"
            >
                © 2024 aphananthe42
            </p>
        </footer>
    </body>
</html>
