---
import "@fontsource/roboto/400.css";
import "@fontsource/roboto/700.css";
import "@fontsource/roboto/900.css";
import "@fontsource/noto-sans-jp/400.css";
import "@fontsource/noto-sans-jp/700.css";
import "@fontsource/noto-sans-jp/900.css";

const canonicalURL = new URL(Astro.url.pathname, "https://aphananthe42.net");
const ogpImageURL = new URL("/ogp.png", canonicalURL);
const websiteTitle = "aphananthe42.net";
---

<html lang="ja">
    <head prefix="og: https://ogp.me/ns#">
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <link rel="icon" type="image/png" href="/favicon.png" />
        <title>{websiteTitle}</title>

        <meta property="og:url" content={canonicalURL} />
        <meta property="og:type" content="website" />
        <meta property="og:title" content={websiteTitle} />
        <meta
            property="og:description"
            content="aphananthe42's personal website"
        />
        <meta property="og:site_name" content={websiteTitle} />
        <meta property="og:image" content={ogpImageURL} />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:site" content="@aphananthe42" />
    </head>
    <body class="w-screen h-screen bg-slate-950">
        <slot />
    </body>
</html>
